/* FADE ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  animation: fadeUp 1s ease-in;
}

/* BUTTON HOVER */
.theme-btn {
  transition: transform 0.3s ease;
}

.theme-btn:hover {
  transform: scale(1.1);
}
